.genFormComponent {
  font-size: 14px;
  list-height: 1;
  word-wrap: break-word;
  word-break: break-word;
  padding: 0;
  margin: 0;

  a,
  p,
  li,
  ul,
  h1,
  h2,
  h3,
  p {
    font-size: 14px;
  }
}
